@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gochi+Hand&family=Sue+Ellen+Francisco&display=swap');

.titulo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}